{%extends 'base.html'%}
{% load static %} 
{%block title%}{%for keys in key%}{{keys.title}}{%endfor%}{%endblock%}
{% block header %} <link rel="stylesheet" href="{% static 'assets/css/index.css' %}">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway"> 
{% endblock %}
{% block styles %} <style>
  body,h1 {font-family: "Raleway", sans-serif}
  body, html {height: 100%}
  .bgimg {
    background-image: url('{% static '/assets/images/forestbridge.jpg' %}');
    min-height: 100%;
    background-position: center;
    background-size: cover;
  }
  </style>
  {% endblock %}
{%block content%}
{% include 'tools/preloader.html' %}
{% include 'tools/header.html' %}
<div class="bgimg w3-display-container w3-animate-opacity w3-text-white">
  <div class="w3-display-topleft w3-padding-large w3-xlarge">
    Math Web
  </div>
  <div class="w3-display-middle">
    <h2 class="w3-jumbo w3-animate-top">سامانه جامع حسابداری</h2>
    <hr class="w3-border-grey" style="margin:auto;width:40%">
    {% if user.is_authenticated %}
    <a href="{% url 'logout' %}"><button type="button" class="btn btn-warning">خروج</button></a>
  {% else %}
  <a href="../accounts/login"><button type="button" class="btn btn-outline-light me-2">ورود</button></a>
  <a href="../accounts/signup"><button type="button" class="btn btn-warning">ثبت نام</button></a>

  {% endif %}
  </div>
  <div class="w3-display-bottomleft w3-padding-large">
    Powered by <a href="" target="_blank">174</a>
  </div>
</div>
{%endblock%}